.tresh-btn img {
  width: 17px;
  height: 17px;
  margin: -5px 0 0 10px;
}
.modal-body-main-popup {
  display: grid;
  grid-template-columns: 270px;
  gap: 10px;
  justify-content: center;
}

.btn-image {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

.add-input {
  margin: 10px 10px 0 0;
  text-align: right;
  color: grey;
  position: relative;
  cursor: pointer;
}
.add-input::after {
  content: '+';
  font-size: 26px;
  line-height: 20px;
  font-weight: 700;
  position: absolute;
  top: 1px;
}